main {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: blueviolet;
    font-size: 25px;
}

#container{
    width: 55%;
    border-radius: 6px;
    border: 2px solid green;
    margin: 0 auto;
    padding: 10px;
}

#container h1{
    font-size: 40px;
}